[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
tqdm = "==4.40.0"
selenium = "==3.141.0"
PyInstaller = "==3.5"
beautifulsoup4 = "==4.8.1"
beautifultable = "==0.8.0"
